
.dialog-overlay{
  position: fixed;
  width: 100vw;
  height: 100vh;

  &.not-mode-window{
    pointer-events: none;
  }
  & > * {
    pointer-events: auto;
  }

  .dialog-title {
    width: 100%;
    height: 40px;
  }

  .dialog-box{
    position: absolute;
  }
}

.drag-box {
  background-color: #4CAF50;
  text-align: center;
  color: white;
  //cursor: move;
  user-select: none;

  cursor: grab;
  //transition: transform 0.3s ease-out;

  &:active{
    cursor: grabbing;
    //transform: translate(calc(var(--mouse-x) - 50px), calc(var(--mouse-y) - 50px));
  }
}

.resize-box {
  border:1px solid rebeccapurple;
  resize: both;
  overflow: hidden;
}




