@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    /*@apply bg-gray-900 text-white;*/
  }
}

@layer components {
  .btn-blue {
    @apply text-white font-bold px-4 py-2 rounded bg-blue-600 hover:bg-blue-500;
  }

  .tool-every-button{
    @apply size-8 content-center justify-center
    flex items-center rounded-full tool-button
    active:bg-blue-100
  }

  .tool-button{
    background-color: rgba(124, 139, 165, 0);
  }

  .toolbar-separator {
    width: 1px;
    height: 19px;
    background-color: #E8E8E8;
    margin: 0 8px;
  }

  svg {
    color: #9797A4;
  }
  .tool-button-active{
    @apply bg-blue-400
  }
  .tool-button-active svg{
    @apply text-white
  }

  /*.tool-sub-group::before{*/
  /*  content: "";*/
  /*  display: block;*/
  /*  width: 100%;*/
  /*  height: 50%;*/
  /*  border-radius: 80px 80px 0% 0%;*/
  /*  !* box-sizing: border-box; *!*/
  /*  position: absolute;*/
  /*  top: -16px;*/
  /*   transition: transform 0.25s cubic-bezier(0.61, 0.11, 0.08, 0.96), opacity 0.25s ease-in-out;*/
  /*   transform: translateY(8px) scale(0);*/
  /*  !* border-right: 3px solid white; *!*/
  /*  border-top: 9px solid white;*/
  /*  border-left: 3px solid white;*/
  /*}*/
  /*.tool-sub-group-active::before{*/
  /*  transform: translateY(0px) scale(1);*/
  /*}*/

  .tool-sub-group-body{
    transform: translateX(40%);
    z-index: -1;

    /* 动画效果 */
    transition: transform 2s ease-in-out;
  }
  .tool-sub-group-body::before{
    /*backdrop-filter: blur(5px); */
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 23%);
    width: 40px;
    height: 40px;
    border-radius: 20px;
    /* background-color: #ccc; */
    border-bottom: 10px solid white;
    z-index: -1;
  }

  .container-blur{
    /*-webkit-filter: blur(20px);*/
    filter: blur(10px) ;
    /*filter: blur(50px);*/
    /*background-color: #FFFFFFB9;*/
    /*background-color: rgba(0, 0, 0, 0.5);*/
    /*-webkit-mask: radial-gradient( circle at calc(var(--x, .5) * 100% )  calc(var(--y, .5) * 100% ), transparent 50px, red 51px);*/
    /*box-shadow: inset 0 0 15000px rgba(0, 0, 0, 0.5);*/
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);*/
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;

    transition: background-image 1s ease-in-out, filter 1s ease-in-out;

    /*background-color: rgba(125, 125, 125, 0.99); !* 设置半透明白色背景 *!*/
    /*animation: blur 5s infinite alternate;*/
  }
  /*.container-blur1::before {*/
  /*  content: "";*/
  /*  position: absolute;*/
  /*  background: white;*/
  /*  top: 0;*/
  /*  left: 0;*/
  /*  width: 100%;*/
  /*  height: 100%;*/
  /*  background-color: rgba(255, 255, 255, 0.99); !* 设置半透明白色背景 *!*/
  /*  background-color: rgba(125, 125, 125, 0.99); !* 设置半透明白色背景 *!*/
  /*  filter: blur(30%); !* 应用模糊效果 *!*/
  /*  z-index: -1;*/

  /*}*/

  @keyframes blur {
    0% {
      filter: blur(0);
    }
    100% {
      filter: blur(100px);
    }
  }




}




